<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <!-- HTTP to HTTPS -->
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="HTTP to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_USER_AGENT}" pattern="^IIS Application Initialization Warmup$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>