<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <!-- Warmup -->
    <applicationInitialization xdt:Transform="Insert" doAppInitAfterRestart="true">
      <add initializationPage="/"/>
      <add initializationPage="/UserSettings/Accessibility"/>
      <add initializationPage="/Account/Login"/>
    </applicationInitialization>

    <!-- HTTP to HTTPS -->
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="WWW" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^www\.YOURDOMAIN\.net$" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="^IIS Application Initialization Warmup$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://www.YOURDOMAIN.net/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="HTTPS" enabled="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_USER_AGENT}" pattern="^IIS Application Initialization Warmup$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://www.YOURDOMAIN.net/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>