<div class="d-grid gap-2">
    <a href="https://twitter.com/" target="_blank" class="btn btn-social btn-twitter" rel="noopener">
        <i class="fab fa-twitter"></i> Twitter
    </a>
    <a href="https://www.linkedin.com" target="_blank" class="btn btn-social btn-linkedin" rel="noopener">
        <i class="fab fa-linkedin-in"></i> LinkedIn
    </a>
</div>