// Theme
$blue: #337ab7;
$dark: #000;
$enable-shadows: true;

$body-bg: #111;
$header-bg: $body-bg;
$footer-bg: $dark;

$body-color: #FFF;
$info-color: #ccc;
$small-color: $info-color;

$border-color: #555;
$card-bg: #000;
$card-border-color: $border-color;

$white: #fff;
$black: #000;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($black, .9);
$navbar-light-hover-color: rgba($black, 1);

$dropdown-color: $body-color;
$dropdown-link-color: $body-color;
$dropdown-bg: $body-bg;
$dropdown-link-hover-bg: $card-bg;
$dropdown-link-hover-color: $white;

$modal-content-bg: $body-bg;
$modal-content-border-color: $border-color;
$close-color: $body-color;

$list-group-bg: $card-bg ;
$list-group-color: $body-color;
$list-group-hover-bg: $body-bg;
$list-group-action-color: $body-color;
$list-group-active-border-color: $card-bg;
$list-group-action-hover-color: $white;

$input-bg: $white;
$input-color: $black;
$input-placeholder-color: $black;
$input-border-color: $border-color;
$light: $body-bg ;

$pagination-bg: $card-bg;
$pagination-border-color: $border-color ;
$pagination-hover-border-color: $border-color;
$pagination-hover-bg: rgba($black, 0.9);
    
$code-color: $body-color;
$blockquote-bg: $body-bg;
$blockquote-border: $border-color;

@import "all.scss";

.btn-light {
    border-color: $border-color;
}