@model MyBlog.Engine.Models.AuthenticationProviders
<form asp-action="Login" asp-controller="Authentication" method="post" asp-antiforgery="true">
    <input asp-for="ReturnUrl" type="hidden" />
    <div>
        <p>
            @foreach (var p in Model.Providers)
            {
                <button type="submit" class="btn btn-block btn-social btn-@p.Style" name="provider" value="@p.Provider">
                    <i class="fab fa-@p.Icon"></i> @String.Format(Resources.LogInWith, p.Name)
                </button>
            }
        </p>
    </div>
</form>