@model MyBlog.Models.Posts
@inject IOptions<Settings> options
@if (Model.HaveMoreResults)
{
    <button type="button"
            id="btn-getmore"
            onclick="getMoreItems(this)"
            class="btn btn-primary"
            data-action="IndexGetMore"
            data-args="?page=@Model.NextPage">
        @Resources.GetMorePost
        </button>
    }
<div id="pagination">
    <pagination action="Index"
                count="Model.Available"
                page="Model.Page"
                page-size="options.Value.PostQuantityPerPage"></pagination>
</div>