@model MyBlog.Models.SearchFilter
@inject IOptions<Settings> options
@if (Model.HaveMoreResults)
{
    <button type="button"
            id="btn-getmore"
            onclick="getMoreItems(this)"
            class="btn btn-primary"
            data-action="@(Model.Action)GetMore"
            data-args="@Model.Id?page=@Model.NextPage&query=@Uri.EscapeDataString(Model.Query)">
        @Resources.GetMorePost
        </button>
    }
<div id="pagination">
    <pagination action="@Model.Action"
                count="Model.Available"
                page="Model.Page"
                page-size="options.Value.PostQuantityPerSearch"
                route-values="new { Id = Model.Id, Query = Model.Query }"></pagination>
</div>