@model System.Boolean
@if (Model)
{
    <div class="alert alert-success">@Resources.SubscribToCommentNotificationSuccess</div>
}
else
{
    <div class="alert alert-danger">@Resources.SubscribToCommentNotificationError</div>
}