@model MyBlog.Models.PostsFilter
@inject IOptions<Settings> options
@{
    ViewBag.Title = WebUtility.HtmlDecode(Model.Title + " - " + Model.SubTitle);
    ViewBag.Description = WebUtility.HtmlDecode(Model.Description);
}
<panel>
    <div class="page-header">
        <h2>@Model.Title <small>@Model.SubTitle</small></h2>
    </div>
    <div id="items" class="list-group list-group-flush">
        <partial name="_PostsWithoutContent" model="Model.Items" />
    </div>
</panel>
<div id="indexednavigation">
    <partial name="_FilterPagination" model="Model" />
</div>