@inject IOptions<Settings> options;
@{
    ViewBag.Title = Resources.About;
    ViewBag.Description = String.Format(Resources.AboutDescription, options.Value.AuthorName);
}
<panel title="@Resources.About" icon="fa-info">
    <div id="about">
        <img alt="Your name" src="~/images/about.jpg">
        <p>... </p>
        <div class="float-end">
            <a class="btn btn-social btn-twitter" title="Twitter [YourName]" href="https://twitter.com/[YourName]" target="_blank"><i class="fab fa-twitter"></i>@@[YourName]</a>
        </div>
    </div>
</panel>